html {
    scroll-behavior: smooth;
  }

:root {
    --main-text-color: #1F1F1F; 
    --color-text: #F54932;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 700px; 
    padding-top: 26px; 
    background-image: url("./images/1920.jpg");
    background-size: auto 100%;
    padding-left: 72px;
}

.header-content {
    width: 542px;
}

.logo {
    background-image: url("./images/logo.png");
    height: 36px;
    width: 245.17px;
    margin-bottom: 62px;
}

.header-text {
    font-family: "Golos Text", serif;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;
}

.buttons-container {
    display: flex;
    font-size: 16px;
    font-family: "Golos Text", serif;
    font-style: normal;
    text-align: center;
}

.button {
    width: 542px;
    height: 82px;
    font-size: 16px;
    text-align: center;
    padding: 20px 49px;
    border-radius: 66px;
    cursor: pointer;
}

.button.left {
    background-color: #1F1F1F;
    color: #FFFFFF;
    margin-left: 16px;
    border: none;
}

.button.left:hover {
    background-color: #FBCE51;
    color: var(--main-text-color);
}

.button.right:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.button.right {
    background: none 0;
    color: var(--main-text-color);
    margin-left: 16px;
    border: 2px solid #1F1F1F;
}

.button.right div {
    width: 82px;
    display: inline-block;
}

.content {
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 0 72px 0 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.running-line {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    background-color: #F54932;
    color: #FFFFFF;
    padding: 18px 12px;
    animation: running-line 4s infinite linear;
    white-space: nowrap;
    width: fit-content;
    text-transform: uppercase;
}

@keyframes running-line {
    0%{
      transform: translate(0, 0);
    }
    100%{
      transform: translate(-45%, 0);
    }
  }

.title {
    color: var(--main-text-color);
    font-size: 60px;
    line-height: 110%;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    .third-string {
      text-align: center;
    };
    .fourth-string {
        text-align: end;
    };
}

.content-header {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content-header, .schedule-header {
    color: var(--main-text-color);
    font-size: 36px;
    line-height: 135%;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.content-header-text, .schedule {
    scroll-margin-top: 100px;
    transition: 1s linear;
}

.color-text {
    color: var(--color-text);
}

.content-header-image {
    width: 394px;
    height: 250px;
    background-image: url("./images/chessPlayers.png");
}

.schedule-content {
  display: flex;
  margin-top: 64px;
  margin-bottom: 200px;
  justify-content: space-between;
}

a {
    text-decoration: none;
    color: #3057A2;
}

.schedule-content-image {
    background-image: url("./images/chessPlayer.png");
    width: 528.99px;
    height: 670.21px;
    background-size: 100% 100%;
}

.schedule-header {
    margin-bottom: 60px;
}

.schedule {
    display: flex;
    font-size: 20px;
    font-family: "Golos Text", serif;
    font-weight: bold;
    color: var(--main-text-color);
    border-spacing: 0;
    margin-bottom: 48px;
}

.nomination {
    opacity: 0.7;
    font-weight: normal;
}

td {
    border: 2px solid #D0D0D0;
    border-bottom: none;
    padding-bottom: 16px;
    padding-top: 16px;
}

.schedule tr:first-child td {
    border-top: none;
    padding-top: 0;
}

.schedule tr:last-child td {
    padding-bottom: 0;
}

.schedule td:last-child {
    border-right: none;
    border-left: none;
    padding-left: 16px;
    padding-bottom: 16px;
}

.schedule td:first-child {
    border-left: none;
    padding-right: 16px;
}

del {
	text-decoration-color: #F54932;
    margin-right: 14.5px;
}

.midle-content {
    position: relative;
    display: grid;
    gap: 20px;
    margin-bottom: 200px;
    grid-template-areas:
    "A  B  C"
    "D  E  C"
    "F  G  G";
}

.box-1 {
    grid-area: A;
}

.box-2 {
    grid-area: B;
}

.box-3 {
    grid-area: C;
}

.box-4 {
    grid-area: D;
}

.box-5 {
    grid-area: E;
}

.box-6 {
    grid-area: F;
}

.box-7 {
    grid-area: G;
}

.midle-content-container {
    position: relative;
}

.midle-content-container .airplane {
    background-image: url("./images/airplane.png");
    width: 379px;
    height: 207px;
    position: absolute;
    bottom: 226px;
    right: -33px;
}

.midle-content-title {
    color: var(--main-text-color);
    font-size: 54px;
    line-height: 135%;
    font-family: "Merriweather", serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 54px;
}

.midle-content-title .littel-text {
    color: #3057A2;
    font-size: 20px;
    font-family: "Golos Text", serif;
    line-height: normal;
    align-content: center;
    margin-left: 10px;
    text-transform: math-auto;
}

.midle-content-title .second-row {
    display: flex;
}

.midle-content .midle-content-card {
    background-image: url("./images/card-background.jpg");
    padding: 20px;
    display: flex;
}

.midle-content .card-content {
    width: 302px;
    color: var(--main-text-color);
    font-size: 20px;
    line-height: 120%;
    font-family: "Golos Text", serif;
    font-weight: 400;
}

.box-7 .card-content {
    width: 446px;
 }

.midle-content .card-number {
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.bottom-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-text-color);
    font-size: 54px;
    line-height: 135%;
    font-family: "Merriweather", serif;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
}

.button-container{
    display: flex;
    height: 44px;
    align-items: center;
}

.slider-button {
    width: 44px;
    height: 44px;
    background-color: #313131;
    border-radius: 22px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
}

.slider-button.disabled{
   background-color: #D6D6D6;

}

.slider-button:hover { 
    background-color: #FBCE51;
}
.participant-card-counter {
    margin: 0 14px;
    font-size: 16px;
    color: var(--main-text-color);
    line-height: 120%;
    font-family: "Golos Text", serif;
}
.participant-card-counter .total-participant-card {
    opacity: 0.6;
}

.slider-button .left-arrow {
    margin-right: 4px;
    margin-top: 4px;
}

.slider-button .right-arrow {
    margin-left: 4px;
    margin-top: 4px;
}

.carusel-container {
    overflow: hidden;
    width: 1182px;
    padding: 60px 0 140px;
}

.carusel-slide {
    display: flex;
    transition: 0.6s linear;
}

.participant-image {
    width: 320px;
    height: 320px;
    background-image: url("./images/chessPlayer2.png");
}

.partisipant-card button {
    border: 1px solid #3057A2;
    background-color: #FFFFFF;
    border-radius: 62px;
    padding: 12px;
    font-size: 16px;
    color: #3057A2;
}

.partisipant-card button:hover {
   background-color: #3057A2;
   border: none;
   color: #FFFFFF;
}

.partisipant-card {
    padding: 0 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Golos Text", serif;
    line-height: 120%;
}

.partisipant-card button {
    height: 35px;
    padding: 8px 12px;
}

.participant-name {
    font-size: 24px;
    font-weight: 600;
    color: var(--main-text-color);
    margin-top: 28px;
}

.participant-titul {
    font-size: 20px;
    opacity: 0.6;
    color: var(--main-text-color);
    margin: 6px 0 20px 0;
}

.futter {
    background-color: #E9DED4;
    font-family: "Golos Text", serif;
    line-height: 120%;
    font-size: 16px;
    padding: 40px 72px 72px;
}

.mobile {
    display: none;
}

@media (min-width: 1920px) {
    .header {
        padding-left: 348.5px;
    }
}

@media (max-width: 375px) {

    .desctop, .mobile-schedule-table {
        display: none;
    }

    .content {
      padding: 0 20px;
    }

    .content-header.mobile {
        display: flex;
        font-size: 28px;
        width: 335px;
        overflow: hidden;
    }

    .content-header-image {
        margin: 24px 0;
        background-size: 85% 100%;
        height: 212.56px;
        background-repeat: no-repeat;
    }

    .header {
        padding: 18px 18px 0;
        background-image: url(./images/screen375.jpg);
        background-size: 100% 100%;
        height: 812px;
    }

    .logo {
        margin-bottom: 40px;
        background-size: contain;
        width: 213px;
        height: 32px;
    }

    .title {
        font-size: 36px;
        width: 335px;
    }

    .header-text {
        width: 335px;
        text-align: start;
    }
    .header-content {
        width: 335px;
    }

    .buttons-container {
        flex-direction: column;
    }

    .buttons-container .button {
        height: 47px;
        width: 335px;
        padding: 13px 43px;
        margin: 0;
    }

    .buttons-container .button.left {
        margin-bottom: 14px;
    }
    .buttons-container .button.right {
        border: none;
        background-color: #FFFFFF;
    }
    .button.right div {
        width: auto;
    }

    .running-line {
        font-size: 16px;
        height: 38px;
        padding: 10px;
    }
    .schedule-content {
       flex-direction: column;
       margin-bottom: 120px;
    }
    .schedule-content-image {
        height: 402px;
        width: 375px;
    }
    .schedule-content-text {
        padding: 0 20px;
    }

    .schedule-content-text a {
        font-size: 18px;
    }
    .schedule-header {
        font-size: 28px;
        margin-bottom: 28px;
    }
    .mobile-schedule-table {
        display: block;
        margin-bottom: 40px;
        font-size: 20px;
        font-family: "Golos Text", serif;
    }

    .mobile-schedule-table .string {
       border-bottom: 2px solid #D0D0D0;
       padding: 16px 0;
    }

    .string:last-child {
        border: none;
        padding-bottom: 0;
    }

    .midle-content-container {
        width: 335px;
    }

    .midle-content-title .second-row {
       display: block;
    }

    .midle-content-title .littel-text {
        margin: 0;
        font-size: 18px;
    }

    .nomination {
        margin-bottom: 12px;
    }

    .midle-content {
        grid-template-areas:
        "A  C  D  E  G"
        "B  C  D  F  G";
        gap: 0;
        margin: 0;
    }

    .midle-content-container .button-container {
        margin-bottom: 120px;
        margin-top: 28px;
        justify-content: center;
    }

    .midle-content-container .button-container .counter {
        padding: 0 16px;
    }

    .midle-content-title {
        font-size: 36px;
        line-height: 110%;
        margin-bottom: 148px;
    }

    .midle-content-container .airplane {
        width: 335px;
        height: 182px;
        background-size: cover;
        bottom: 407px;
    }

    .bottom-header {
        width: 36px;
    }

    .bottom-header-container {
        font-size: 36px;
    }

    .button-container.mobile {
        display: flex;
        margin-bottom: 100px;
    }

    .participant-image {
        width: 244px;
        height: 244px;
        background-size: contain;
    }

    .carusel-container {
        padding: 40px 0;
        width: 335px;
    }

    .futter {
        height: 214px;font-size: 16px;
        padding: 40px 20px 60px;
    }
    .futter .text {
        opacity: 0.6;
    }

    .participant-name {
        font-size: 24px;
        white-space: nowrap;
    }
    .participant-titul {
        font-size: 20px;
    }

    .partisipant-card {
        width: 335px;
    }
}